<div class="container text-center">
  <div class="row text-center">
    <div style="margin: 0 auto;margin-top:10px;margin-bottom: 10px;" [ngClass]="{'custom-loader': isLoading}" *ngIf="isLoading"></div>
    <div class="col-md-12 h2">{{promiseData | async}}</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">User Name
    </div>
    <div class="col-md-6">Joined Date</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input class="form-control" type="text" [(ngModel)]="filterName" placeholder="Search by name">
    </div>
  </div>
  <hr>
  <div class="row" *ngFor="let user of users | filter:filterName">
    <div class="col-md-6">
      <button class=" btn btn-primary lead">{{user.name | shortenString}}</button>
    </div>
    <div class="col-md-6">
      <p class="btn btn-danger lead">{{user.joinDate | date:'fullDate' | uppercase}}</p>
    </div>
  </div>
</div>
