<div class="contianer mt-5" *ngIf="post">
  <div class="details">
    <div class="title">{{post.title}}</div>
    <div class="body">{{post.body}}</div>
  </div>

  <div class="update-post">
    <div>
      <label for="">Title</label>
      <input type="text" [(ngModel)]="post.title">
    </div>
    <div>
      <label for="">Body</label>
      <input type="text" [(ngModel)]="post.body">
    </div>
  </div>

  <div class="buttons">
    <button class="btn btn-danger mr-5 back" (click)="goBack()">Go Back</button>
    <button class="btn btn-primary" (click)="save()">Save</button>
  </div>
</div>
