<!-- <app-r-forms></app-r-forms> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-post-details></app-post-details> -->
<!-- <router-outlet></router-outlet> -->

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-3">
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a routerLink="/" routerLinkActive="btn btn-primary" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li class="nav-item mb-2"><a routerLink="/users" routerLinkActive="btn btn-primary" [routerLinkActiveOptions]="{exact: true}">Users</a></li>
        <li class="nav-item"><a routerLink="/categories" routerLinkActive="btn btn-primary" [routerLinkActiveOptions]="{exact: true}">Categories</a></li>
      </ul>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
